<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<solanapay>
				<active>1</active>
				<model>ArmMage\SolanaPay\Model\Payment\SolanaPay</model>
				<order_status>processing</order_status>
				<title>SolanaPay</title>
			</solanapay>
		</payment>
	</default>
</config>
